@charset "UTF-8";
.nav-container {
	width: 100%;
	text-align: center;
}
.nav3,
.nav4 {
	background-color: #292929;
	display: block;
	padding: 20px 0;
	margin: 0;
}
.nav3 li,
.nav4 li,
.nav3__menuitem--select {
	display: inline-flex;
	position: relative;
	margin: 0 10px;
}

.nav3,
.nav3 a,
.nav3__menuitem--select {
	color: #aaa;
	text-decoration: none;
	font-size: 20px;
	font-family: Lato;
	font-weight: 200;
}
.nav3__menuitem--select {
	background-color: #181818;
	border-radius: 10px;
	padding: 5px;
	font-size: 18px;
	border: none;
}
.nav3__menuitem--select:focus {
	outline: 0;
}
.nav4 a {
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	font: bold 12px Arial;
}
.nav4 {
	border-top: 1px solid #333333;
}